/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  --applicationName: 'QADDOE';
  --applicationVersion: '1';
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  /* font-size: 12px; */
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
}

body {
  font-weight: 500;
  /* background-color: #932ED0; */
  background-color: black;
  font-size: 12px;
}

/* BEGIN MENU BAR */

nav {
  width: 100vw;
  height: 25px;
  /* background-color: #222; */
  background-color: #171717;
  /* background-color: #111; */
  color: #CCC;
  position: relative;
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
  border-radius: 15px 15px 0 0;
}

#menus {
  height: 25px;
  padding-left: 25px;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}

.menuButton {
  height: 19px;
  line-height: 19px;
  padding: 0 10px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  position: relative;
}

.menuButton:hover {
  background-color: #444;
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  border: 1px solid #444;
  border-radius: 2px;
  z-index: 1000;
  /* padding: 5px 8px 5px 8px; */
  padding: 5px;
  /* TOP, RIGHT, BOTTOM, LEFT */
  /* width: 250px; */
  width: auto;
}

.menuItem {
  padding: 3px 10px 3px 30px;
  /* TOP, RIGHT, BOTTOM, LEFT */
  cursor: pointer;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
}

.menuItem:hover {
  background-color: #555;
}

.menuItem.disabled {
  cursor: not-allowed;
  color: #888;
}

.menuItem.disabled:hover {
  background-color: #333;
}

.menuItem .icon {
  position: absolute;
  left: 12px;
  width: 15px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.menuItem.disabled .icon {
  filter: contrast(0.1);
}

.menuItem .itemText {
  flex: 1;
  text-align: left;
}

.menuItem .accelerator {
  flex: 0 0 auto;
  text-align: right;
  color: #999;
}

.menuItem .accelerator .key {
  padding: 2px 6px;
  background-color: #444;
  border-radius: 4px;
  border: 1px solid #666;
  font-family: monospace;
  margin-left: 6px;
}

.menuItem .accelerator .key:first-child {
  margin-left: 0;
}

.dropdownMenu .separator {
  height: 1px;
  background-color: #555;
  margin: 4px 0;
  width: calc(100% - 30px);
  margin-left: 30px;
}

#windowTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 25px;
  -webkit-app-region: drag;
  padding-bottom: 1px;
}

#windowTitle::before {
  content: var(--projectTitle);
}

#windowTitle::after {
  content: ' ・ ' var(--applicationName);
}

/* FOR WINDOW BUTTONS, ADD HOVER AND ACTIVE/INACTIVE BEHAVIOURS */
#windowButtons {
  position: absolute;
  right: 0;
  margin-right: 13px;
  display: flex;
  gap: 8px;
  padding-bottom: 1px;
}

#close,
#min,
#max {
  width: 12px;
  height: 12px;
  /* border: solid 1px; */
  /* < CAUSES UNWANTED BEHAVIOUR WITH BUTTON DISPLAY SIZE */
  border-radius: 50%;
  cursor: pointer;
}

#max {
  background-color: #5FCF65;
  border-color: #56BB5B;
}

#min {
  background-color: #F8CE52;
  border-color: #E0BA4A;
}

#close {
  background-color: #F96057;
  border-color: #E1574E;
}

/* END MENU BAR */
/* BEGIN TOPBAR & MAINCONTENT -- GENERAL STYLES */

#topBar {
  height: 55px;
  display: flex;
}

#mainContent {
  height: 800px;
  display: flex;
}

.topBarSection,
.mainContentSection {
  height: 100%;
  box-sizing: border-box;
}

/* CAN MERGE THIS WITH CSS ABOVE? */
.topBarSection {
  padding-left: 15px;
}

.topBarSection:nth-child(1),
.mainContentSection:nth-child(1) {
  width: 55px;
}

.topBarSection:nth-child(2),
.mainContentSection:nth-child(2),
.topBarSection:nth-child(4),
.mainContentSection:nth-child(4) {
  width: 265px;
}

.topBarSection:nth-child(3),
.mainContentSection:nth-child(3) {
  width: 855px;
}

.topBarSection:nth-child(1),
.mainContentSection:nth-child(1) {
  /* background-color: #2b2b2b;*/
  background-color: #252932;
  border-right: 1px solid #666;
}

.topBarSection:nth-child(2),
.topBarSection:nth-child(3),
.topBarSection:nth-child(4),
.mainContentSection:nth-child(2),
.mainContentSection:nth-child(4) {
  /* background-color: #3c3c3c; */
  background-color: #252932;
}

.mainContentSection:nth-child(3) {
  /* background-color: #454545; */
  background-color: #2b303b;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
}


.topBarSection:nth-child(2),
.topBarSection:nth-child(3),
.topBarSection:nth-child(4) {
  border-bottom: 1px solid #666;
}

/* END TOPBAR & MAINCONTENT -- GENERAL STYLES */
/* START TOPBARSECTION LOGO */

/* END TOPBARSECTION LOGO */
/* START TOPBARSECTION DETAILS */

.topBarSection.details {
  display: flex;
  align-items: center;
  padding-left: 15px;
  justify-content: space-between;
  padding-bottom: 2px;
}

.topBarSection.details p+p {
  margin-top: 5px;
  padding-top: 1px;
}

.detailsText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#appNameVersion {
  color: #fff;
}

#appNameVersion::before {
  content: var(--applicationName);
  font-weight: bold;
}

#appNameVersion::after {
  content: var(--applicationVersion);
  font-weight: bold;
  /* font-size: 0.8em; */
}

#tagline {
  color: #888;
  font-weight: 400;
}

.icon-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 5px 6px;
  border-radius: 4px;
  margin-right: 20px;
}

.icon-link:hover {
  background-color: #171717;
}

/* END TOPBARSECTION DETAILS */
/* START TOPBARSECTION REQUETE */

/* END TOPBARSECTION REQUETE */
/* START TOPBARSECTION TESTAREA */

.topBarSection.testArea {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#testAreaText {
  padding: 5px 30px;
  border-radius: 2px;
  background-color: #dc3545;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* END TOPBARSECTION TESTAREA */
/* START MAINCONTENTSECTION DOCUMENTS */

.mainContentSection.documents p {
  color: #fff;
  padding: 12px 14px;
}

#fileTreeContainer::-webkit-scrollbar {
  width: 8px;
  /* Adjust the width of the scrollbar */
}

#fileTreeContainer::-webkit-scrollbar-thumb {
  background-color: #666;
  /* Color of the scrollbar thumb */
  border-radius: 4px;
  /* Make the scrollbar thumb rounded */
}

#fileTreeContainer::-webkit-scrollbar-track {
  background: transparent;
  /* Make the scrollbar track transparent */
}

/* Optional: Hide scrollbar buttons (up and down arrows) */
#fileTreeContainer::-webkit-scrollbar-button {
  display: none;
}

#fileTreeContainer {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 39px);
  color: white;
  padding-left: 10px;
}

/* Basic styles for the file tree */
ul {
  list-style-type: none;
  /* margin: 0 0 0 5px; */
}

li {
  line-height: 1.5em;
  cursor: pointer;
  position: relative;
  padding-left: 20px;
}

/* Directory icon */
li.directory::before {
  content: "📁";
  position: absolute;
  left: 0;
  top: 0;
}

/* File icon */
li.file::before {
  content: "📄";
  position: absolute;
  left: 0;
  top: 0;
}

/* Toggle display of child elements */
li.directory>ul {
  display: none;
}

li.directory.expanded>ul {
  display: block;
}

/* Styling for hover */
li:hover>span {
  background-color: #666;
}

/* Ensure only the hovered item is highlighted */
li>span {
  display: inline-block;
  width: calc(100% - 15px);
  /* Adjusts width to fit inside the padding */
  padding: 2px 5px;
  border-radius: 3px;
}

/* Prevent child elements from being highlighted with the parent */
li.directory>ul>li:hover>span {
  background-color: #666;
}

/* END MAINCONTENTSECTION DOCUMENTS */
/* START MAINCONTENTSECTION EDITOR */

.CodeMirror {
  height: calc(100% - 5px) !important;
  width: 100% !important;
  font-size: 18px;
  line-height: 1.5;
  padding-top: 5px;
}

/* END MAINCONTENTSECTION EDITOR */
/* START FOOTER */

footer {
  -webkit-app-region: drag;
  height: 20px;
  background-color: #222;
  color: #CCC;
  display: flex;
  align-items: center;
  justify-content: right;
  border-top: 1px solid #666;
  box-sizing: border-box;
  padding: 0 10px;
}

/* END FOOTER */