/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  --applicationName: 'QADDOE';
  --applicationVersion: '1';

  margin: 0;
  padding: 0;
  font-family: 'Inter';
  /* font-size: 12px; */
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
}

body {
  font-weight: 500;
  background-color: #932ED0;
  font-size: 12px;
}

/* BEGIN MENU BAR */

nav {
  width: 100vw;
  height: 25px;
  /* background-color: #222; */
  /* background-color: #171717; */
  background-color: #131313;
  /* background-color: #111; */
  color: #CCC;
  position: relative;
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
  border-radius: 15px 15px 0 0;
}

#menus {
  height: 25px;
  padding-left: 25px;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}

.menuButton {
  height: 19px;
  line-height: 19px;
  padding: 0 10px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  position: relative;
}

.menuButton:hover {
  background-color: #444;
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  /* background-color: #333; */
  background-color: #131313;
  border: 1px solid #444;
  border-radius: 2px;
  z-index: 1000;
  /* padding: 5px 8px 5px 8px; */
  padding: 5px;
  width: auto;
}

.menuItem {
  /* TOP, RIGHT, BOTTOM, LEFT */
  padding: 3px 10px 3px 30px;
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
}

.menuItem:hover {
  background-color: #444;
}

.menuItem.disabled {
  cursor: auto;
  color: #666;
}

.menuItem.disabled:hover {
  background-color: #131313;
}

.menuItem .icon {
  position: absolute;
  left: 12px;
  width: 15px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.menuItem.disabled .icon,
.menuItem.disabled .accelerator .key {
  /* filter: contrast(0.1); */
  filter: brightness(0.5);
}

.menuItem .itemText {
  flex: 1;
  text-align: left;
}

.menuItem .accelerator {
  flex: 0 0 auto;
  text-align: right;
  color: #999;
}

.menuItem .accelerator .key {
  padding: 2px 6px;
  background-color: #444;
  border-radius: 4px;
  border: 1px solid #666;
  font-family: monospace;
  margin-left: 6px;
}

.menuItem .accelerator .key:first-child {
  margin-left: 0;
}

.dropdownMenu .separator {
  height: 1px;
  background-color: #555;
  margin: 4px 0;
  width: calc(100% - 30px);
  margin-left: 30px;
}

#windowTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 25px;
  -webkit-app-region: drag;
  padding-bottom: 1px;
}

#windowTitle::before {
  content: var(--projectTitle);
}

#windowTitle::after {
  content: var(--applicationName);
}

/* FOR WINDOW BUTTONS, ADD HOVER AND ACTIVE/INACTIVE BEHAVIOURS */
#windowButtons {
  position: absolute;
  right: 0;
  margin-right: 13px;
  display: flex;
  gap: 8px;
  padding-bottom: 1px;
}

#close,
#min,
#max {
  width: 12px;
  height: 12px;
  /* border: solid 1px; */
  /* < CAUSES UNWANTED BEHAVIOUR WITH BUTTON DISPLAY SIZE */
  border-radius: 50%;
  cursor: pointer;
}

#max {
  background-color: #5FCF65;
  border-color: #56BB5B;
}

#min {
  background-color: #F8CE52;
  border-color: #E0BA4A;
}

#close {
  background-color: #F96057;
  border-color: #E1574E;
}

/* END MENU BAR */
/* BEGIN TOPBAR & MAINCONTENT -- GENERAL STYLES */

#topBar {
  height: 55px;
  display: flex;
}

#mainContent {
  height: 800px;
  display: flex;
}

.topBarSection,
.mainContentSection {
  height: 100%;
  box-sizing: border-box;
}

/* CAN MERGE THIS WITH CSS ABOVE? */
.topBarSection {
  padding-left: 15px;
}

.topBarSection:nth-child(1),
.mainContentSection:nth-child(1) {
  width: 55px;
}

.topBarSection:nth-child(2),
.mainContentSection:nth-child(2),
.topBarSection:nth-child(4),
.mainContentSection:nth-child(4) {
  width: 265px;
}

.topBarSection:nth-child(3),
.mainContentSection:nth-child(3) {
  width: 855px;
}

.topBarSection:nth-child(1),
.mainContentSection:nth-child(1) {
  /* background-color: #2b2b2b;*/
  /* FROM FIGMA */
  /* background-color: #252932; */
  /* FROM RANDOM ATOM THEME */
  background-color: #21252b;
  /* FROM ATOM DARK ONE UI THEME*/
  border-right: 1px solid #666;
}

.topBarSection:nth-child(2),
.topBarSection:nth-child(3),
.topBarSection:nth-child(4),
.mainContentSection:nth-child(2),
.mainContentSection:nth-child(4) {
  /* background-color: #3c3c3c; */
  /* background-color: #252932; */
  background-color: #21252b;
}

.mainContentSection:nth-child(3) {
  /* background-color: #454545; */
  /* background-color: #2b303b; */
  background-color: #282c34;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
}


.topBarSection:nth-child(2),
.topBarSection:nth-child(3),
.topBarSection:nth-child(4) {
  border-bottom: 1px solid #666;
}

/* END TOPBAR & MAINCONTENT -- GENERAL STYLES */
/* START TOPBARSECTION LOGO */

.topBarSection.logo {
  content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.3333 19.3333C10.7407 19.3333 0 29 0 29C0 29 7.22559 14.9394 15.037 14.0606C22.8485 13.1818 29 0 29 0C29 0 27.9259 19.3333 19.3333 19.3333Z' fill='%23D9D9D9'/%3E%3C/svg%3E");
  display: flex;
  align-items: center;
  padding: 12px 2px 2px 12px;
  /* padding-top: 5px; */
}

/* END TOPBARSECTION LOGO */
/* START TOPBARSECTION DETAILS */

.topBarSection.details {
  display: flex;
  align-items: center;
  padding-left: 15px;
  justify-content: space-between;
  padding-bottom: 2px;
}

.topBarSection.details p+p {
  margin-top: 5px;
  padding-top: 1px;
}

.detailsText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#appNameVersion {
  color: #fff;
}

#appNameVersion::before {
  content: var(--applicationName);
  font-weight: bold;
}

#appNameVersion::after {
  content: var(--applicationVersion);
  font-weight: bold;
  /* font-size: 0.8em; */
}

#tagline {
  color: #888;
  font-weight: 400;
}

.icon-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 5px 6px;
  border-radius: 4px;
  margin-right: 20px;
}

.icon-link:hover {
  background-color: #131313;
}

/* END TOPBARSECTION DETAILS */
/* START TOPBARSECTION REQUETE */

/* END TOPBARSECTION REQUETE */
/* START TOPBARSECTION TESTAREA */

.topBarSection.testArea {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#testAreaText {
  padding: 5px 15px 5px 15px;
  border-radius: 2px;
  background-color: #dc3545;
  font-weight: 400;
  color: #fff;
  display: flex;
  flex-direction: row;
  text-align: center;
  cursor: pointer;
  transition: transform 0.1s ease;
}

#testAreaText#textAreaTextContainer {
  display: flex;
  flex-direction: column;
}

#textAreaIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

#textAreaIconContainer::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-triangle-alert'%3E%3Cpath d='m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3'/%3E%3Cpath d='M12 9v4'/%3E%3Cpath d='M12 17h.01'/%3E%3C/svg%3E");
}

#testAreaText:hover {
  background-color: #c82333;
}

#testAreaText:active {
  transform: scale(0.99) translateY(1px);
}

/* END TOPBARSECTION TESTAREA */
/* START MAINCONTENTSECTION QUICKACTIONS*/

.mainContentSection.quickActions {
  padding: 10px 0 10px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.quickAction {
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.quickAction:hover {
  background-color: #131313;
}

#quickActionsTop .quickActionHolder {
  margin-bottom: 5px;
}

#quickActionsBottom .quickActionHolder {
  margin-top: 5px;
}

/* END MAINCONTENTSECTION QUICKACTIONS */
/* START MAINCONTENTSECTION DOCUMENTS */

.mainContentSection.documents p {
  color: #fff;
  padding: 12px 14px;
}

#fileTreeContainer::-webkit-scrollbar {
  width: 5px;
  /* Adjust the width of the scrollbar */
}

#fileTreeContainer::-webkit-scrollbar-thumb {
  background-color: #666;
  /* Color of the scrollbar thumb */
  border-radius: 4px;
  /* Make the scrollbar thumb rounded */
}

#fileTreeContainer::-webkit-scrollbar-track {
  background: transparent;
  /* Make the scrollbar track transparent */
}

/* Optional: Hide scrollbar buttons (up and down arrows) */
#fileTreeContainer::-webkit-scrollbar-button {
  display: none;
}

#fileTreeContainer {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 39px);
  color: white;
  padding-left: 14px;
}

/* Basic styles for the file tree */
ul {
  list-style-type: none;
  /* margin: 0 0 0 5px; */
}

li {
  line-height: 2em;
  cursor: pointer;
  position: relative;
  padding-left: 20px;
}

/* Directory icon */
li.directory::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 24 24' fill='%23d7dae0' stroke='%23d7dae0' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-folder'%3E%3Cpath d='M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z'/%3E%3C/svg%3E");
  position: absolute;
  left: 0;
  top: 3.5px;
}

/* File icon */
li.file::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 24 24' fill='none' stroke='%23d7dae0' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-file-text'%3E%3Cpath d='M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z'/%3E%3Cpath d='M14 2v4a2 2 0 0 0 2 2h4'/%3E%3Cpath d='M10 9H8'/%3E%3Cpath d='M16 13H8'/%3E%3Cpath d='M16 17H8'/%3E%3C/svg%3E");
  position: absolute;
  left: 0;
  top: 3.5px;
}

/* Toggle display of child elements */
li.directory>ul {
  display: none;
}

li.directory.expanded>ul {
  display: block;
}

/* Styling for hover */
li:hover>span {
  background-color: #666;
}

/* Ensure only the hovered item is highlighted */
li>span {
  display: inline-block;
  width: calc(100% - 15px);
  /* Adjusts width to fit inside the padding */
  padding: 2px 5px;
  border-radius: 3px;
}

/* Prevent child elements from being highlighted with the parent */
li.directory>ul>li:hover>span {
  background-color: #666;
}

/* END MAINCONTENTSECTION DOCUMENTS */
/* START MAINCONTENTSECTION EDITOR */

.CodeMirror {
  height: calc(100% - 5px) !important;
  width: 100% !important;
  font-size: 18px;
  line-height: 1.5;
  padding-top: 5px;
}

/* END MAINCONTENTSECTION EDITOR */
/* START FOOTER */

footer {
  -webkit-app-region: drag;
  height: 20px;
  font-size: 10px;
  font-weight: 600;
  background-color: #222;
  color: #CCC;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #666;
  box-sizing: border-box;
  line-height: 19px;
}

footer #statusBarLeft span {
  padding: 0 10px;
}

footer #statusBarCenter {
  background-color: crimson;
  padding: 0 10px;
  cursor: pointer;
  font-weight: 800;
}

footer #statusBarRight span {
  padding: 0 10px;
}

/* END FOOTER */