/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --applicationName: 'QADDOE';
  --applicationVersion: '1 (Beta)';
  --font-family: 'Inter', sans-serif;
  --font-family-mono: 'Fira Code', monospace;
  --text-color: #DADADA;
  --base-color: #1e1e1e;
  --base-color-light: #262626;
  --accent-color: #363636;
  --border-color: #555;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
}

body {
  overflow: hidden;
  font-weight: 500;
  background-color: transparent;
  font-size: 12px;
}

/* BEGIN MENU BAR */

nav {
  width: 100vw;
  height: 25px;
  background-color: #131313;
  color: var(--text-color);
  position: relative;
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
  border-radius: 15px 15px 0 0;
}

nav.unfocused {
  background-color: #363636;
}

#menus {
  height: 25px;
  padding-left: 25px;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}

.menuButton {
  height: 19px;
  line-height: 19px;
  padding: 0 10px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  position: relative;
}

.menuButton:hover {
  background-color: var(--accent-color);
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  background-color: #262626;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  z-index: 1000;
  padding: 5px;
  width: auto;
}

.menuItem {
  padding: 3px 10px 3px 30px;
  cursor: pointer;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
}

.menuItem:hover {
  background-color: var(--accent-color);
}

.menuItem.disabled {
  cursor: auto;
  color: #666;
}

.menuItem.disabled:hover {
  background-color: transparent;
}

.menuItem .icon {
  position: absolute;
  left: 12px;
  width: 15px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.menuItem.disabled .icon,
.menuItem.disabled .accelerator .key {
  filter: brightness(0.6);
}

.menuItem .itemText {
  flex: 1;
  text-align: left;
}

.menuItem .accelerator {
  flex: 0 0 auto;
  text-align: right;
  color: #B3B3B3;
}

.menuItem .accelerator .key {
  padding: 2px 6px;
  background-color: var(--accent-color);
  border-radius: 2px;
  border: 1px solid var(--border-color);
  font-family: var(--font-family-mono);
  margin-left: 6px;
}

.menuItem .accelerator .key:first-child {
  margin-left: 0;
}

.dropdownMenu .separator {
  height: 1px;
  background-color: #515151;
  margin: 4px 0;
  width: calc(100% - 30px);
  margin-left: 30px;
}

#windowTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 25px;
  -webkit-app-region: drag;
  padding-bottom: 1px;
}

#windowTitle::before {
  content: var(--projectTitle);
}

#windowTitle::after {
  content: var(--applicationName);
}

/* FOR WINDOW BUTTONS, ADD HOVER AND ACTIVE/INACTIVE BEHAVIOURS */
#windowButtons {
  position: absolute;
  right: 0;
  margin-right: 13px;
  display: flex;
  gap: 8px;
  padding-bottom: 1px;
}

#close,
#min,
#max {
  width: 12px;
  height: 12px;
  border: solid 1px;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}

#close.unfocused,
#min.unfocused,
#max.unfocused {
  background-color: #262626;
  border-color: #1e1e1e;
}

#max {
  background-color: #5FCF65;
  border-color: #56BB5B;
}

#min {
  background-color: #F8CE52;
  border-color: #E0BA4A;
}

#close {
  background-color: #F96057;
  border-color: #E1574E;
}

/* END MENU BAR */
/* BEGIN TOPBAR & MAINCONTENT -- GENERAL STYLES */

#topBar {
  height: 55px;
  display: flex;
}

#mainContent {
  height: 800px;
  display: flex;
}

.topBarSection,
.mainContentSection {
  height: 100%;
  box-sizing: border-box;
}

/* CAN MERGE THIS WITH CSS ABOVE? */
.topBarSection {
  padding-left: 15px;
}

.topBarSection:nth-child(1),
.mainContentSection:nth-child(1) {
  width: 55px;
}

.topBarSection:nth-child(2),
.mainContentSection:nth-child(2),
.topBarSection:nth-child(4),
.mainContentSection:nth-child(4) {
  width: 265px;
}

.topBarSection:nth-child(3),
.mainContentSection:nth-child(3) {
  width: 855px;
}

.topBarSection:nth-child(1),
.mainContentSection:nth-child(1) {
  background-color: var(--accent-color);
  border-right: 1px solid var(--border-color);
}

.topBarSection:nth-child(2),
.topBarSection:nth-child(3),
.topBarSection:nth-child(4),
.mainContentSection:nth-child(2),
.mainContentSection:nth-child(4) {
  background-color: var(--base-color-light);
}

.mainContentSection:nth-child(3) {
  background-color: var(--base-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}


.topBarSection:nth-child(2),
.topBarSection:nth-child(3),
.topBarSection:nth-child(4) {
  border-bottom: 1px solid var(--border-color);
}

/* END TOPBAR & MAINCONTENT -- GENERAL STYLES */
/* START TOPBARSECTION LOGO */

.topBarSection.logo {
  content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.3333 19.3333C10.7407 19.3333 0 29 0 29C0 29 7.22559 14.9394 15.037 14.0606C22.8485 13.1818 29 0 29 0C29 0 27.9259 19.3333 19.3333 19.3333Z' fill='%23D9D9D9'/%3E%3C/svg%3E");
  display: flex;
  align-items: center;
  padding: 12px 2px 2px 12px;
}

/* END TOPBARSECTION LOGO */
/* START TOPBARSECTION DETAILS */

.topBarSection.details {
  display: flex;
  align-items: center;
  padding-left: 15px;
  justify-content: space-between;
  padding-bottom: 2px;
}

.topBarSection.details p+p {
  margin-top: 5px;
  padding-top: 1px;
}

.detailsText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#appNameVersion {
  color: var(--text-color);
}

#appNameVersion::before {
  content: var(--applicationName);
  font-weight: bold;
}

#appNameVersion::after {
  content: var(--applicationVersion);
  font-weight: bold;
}

#tagline {
  color: #888;
  font-weight: 400;
}

.icon-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 5px 6px;
  border-radius: 4px;
  margin-right: 20px;
}

.icon-link:hover {
  background-color: #131313;
}

/* END TOPBARSECTION DETAILS */
/* START TOPBARSECTION REQUETE */

/* END TOPBARSECTION REQUETE */
/* START TOPBARSECTION TESTAREA */

.topBarSection.testArea {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#testAreaText {
  padding: 5px 15px 5px 15px;
  border-radius: 2px;
  background-color: darkred;
  font-weight: 400;
  color: #fff;
  display: flex;
  flex-direction: row;
  text-align: center;
  cursor: pointer;
  transition: transform 0.1s ease;
}

#testAreaText#textAreaTextContainer {
  display: flex;
  flex-direction: column;
}

#textAreaIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

#textAreaIconContainer::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-triangle-alert'%3E%3Cpath d='m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3'/%3E%3Cpath d='M12 9v4'/%3E%3Cpath d='M12 17h.01'/%3E%3C/svg%3E");
}

#testAreaText:hover {
  background-color: #c82333;
}

#testAreaText:active {
  transform: scale(0.99) translateY(1px);
}

/* END TOPBARSECTION TESTAREA */
/* START MAINCONTENTSECTION QUICKACTIONS*/

.mainContentSection.quickActions {
  padding: 10px 0 10px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.quickAction {
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.quickAction:hover {
  background-color: #262626;
}

#quickActionsTop .quickActionHolder {
  margin-bottom: 5px;
}

#quickActionsBottom .quickActionHolder {
  margin-top: 5px;
}

/* END MAINCONTENTSECTION QUICKACTIONS */
/* START MAINCONTENTSECTION DOCUMENTS */

.mainContentSection.documents p {
  color: var(--text-color);
  padding: 12px 14px;
}

#fileTreeContainer::-webkit-scrollbar {
  width: 5px;
}

#fileTreeContainer::-webkit-scrollbar-thumb {
  background-color: #424242;
  border-radius: 4px;
}

#fileTreeContainer::-webkit-scrollbar-track {
  background: transparent;
}

#fileTreeContainer::-webkit-scrollbar-button {
  display: none;
}

#fileTreeContainer {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 39px);
  color: #B3B3B3;
  /* color: var(--text-color); */
  padding-left: 14px;
}

/* Basic styles for the file tree */
ul {
  list-style-type: none;
  /* margin: 0 0 0 5px; */
}

li {
  line-height: 2em;
  cursor: pointer;
  position: relative;
  padding-left: 20px;
}

/* Directory icon */
li.directory::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 24 24' fill='%23d7dae0' stroke='%23d7dae0' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-folder'%3E%3Cpath d='M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z'/%3E%3C/svg%3E");
  position: absolute;
  left: 0;
  top: 3.5px;
}

/* File icon */
li.file::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 24 24' fill='none' stroke='%23d7dae0' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-file-text'%3E%3Cpath d='M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z'/%3E%3Cpath d='M14 2v4a2 2 0 0 0 2 2h4'/%3E%3Cpath d='M10 9H8'/%3E%3Cpath d='M16 13H8'/%3E%3Cpath d='M16 17H8'/%3E%3C/svg%3E");
  position: absolute;
  left: 0;
  top: 3.5px;
}

/* Toggle display of child elements */
li.directory>ul {
  display: none;
}

li.directory.expanded>ul {
  display: block;
}

/* Styling for hover */
li:hover>span {
  background-color: var(--accent-color);
}

/* Ensure only the hovered item is highlighted */
li>span {
  display: inline-block;
  width: calc(100% - 15px);
  padding: 2px 5px;
  border-radius: 3px;
}

/* Prevent child elements from being highlighted with the parent */
li.directory>ul>li:hover>span {
  background-color: var(--accent-color);
}

/* END MAINCONTENTSECTION DOCUMENTS */
/* START MAINCONTENTSECTION EDITOR */

#noDocumentsMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  color: #7C7C7C;
  font-weight: bold;
  font-size: large;
}

#editorTabs {
  display: flex;
  flex-direction: row;
  background-color: var(--accent-color);
  padding: 7px;
  padding-bottom: 0;
  margin: 0;
  height: 30px;
  list-style: none;
  overflow-x: auto;
  white-space: nowrap;
}

#editorTabs::-webkit-scrollbar {
  height: 2px;
}

#editorTabs::-webkit-scrollbar-thumb {
  background-color: #424242;
  border-radius: 4px;
}

#editorTabs::-webkit-scrollbar-track {
  background: transparent;
}

#editorTabs::-webkit-scrollbar-button {
  display: none;
}

#editorTabs .tab {
  padding: 0 15px;
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  border-radius: 5px 5px 0 0;
}

#editorTabs .tab.active-tab {
  padding: 0 10px 0 15px;
  background-color: var(--base-color);
  font-weight: bold;
}

#editorTabs .tab:hover {
  background-color: #464646;
}

#editorTabs .tab.active-tab:hover {
  background-color: var(--base-color);
}

.tab+.tab {
  padding-left: 2px;
  margin-left: 2px;
}

#editorTabs .tab span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

#editorTabs .tab .close {
  margin-left: 5px;
  font-size: 15px;
  text-align: center;
  width: 20px;
  height: 20px;
  color: #AAAAAA;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  display: none;
}

#editorTabs .tab.active-tab .close {
  display: block;
}

#editorTabs .tab.active-tab .close:hover {
  background-color: var(--accent-color);
}

#editorContainer {
  height: calc(100% - 41px);
}

.CodeMirror-vscrollbar::-webkit-scrollbar {
  width: 12px;
}

.CodeMirror-vscrollbar::-webkit-scrollbar-track {
  background: var(--base-color);
}

.CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
  border-radius: 6px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.CodeMirror-vscrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.CodeMirror-hscrollbar::-webkit-scrollbar {
  height: 12px;
}

.CodeMirror-hscrollbar::-webkit-scrollbar-track {
  background: var(--base-color);
}

.CodeMirror-hscrollbar::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
  border-radius: 6px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.CodeMirror-hscrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.CodeMirror-scrollbar-filler {
  background-color: var(--base-color) !important;
}

.CodeMirror {
  height: calc(100% - 1px) !important;
  width: 100%;
  font-size: 15px;
  line-height: 1.25;
  padding-top: 5px;
  background-color: var(--base-color) !important;
  color: var(--text-color) !important;
}

.CodeMirror-gutters {
  background-color: var(--base-color) !important;
  border: none !important;
}

.CodeMirror-linenumber {
  color: var(--border-color) !important;
  padding-right: 20px !important;
  font-family: var(--font-family-mono) !important;
}

.CodeMirror-cursor {
  border-left: 1px solid var(--text-color) !important;
}

.CodeMirror-selected {
  background-color: #093A3B !important;
}

.cm-header {
  color: var(--text-color) !important;
}

.cm-header-1 {
  font-size: 1.5em;
}

.cm-header-2 {
  font-size: 1.4em;
}

.cm-header-3 {
  font-size: 1.3em;
}

.cm-header-4 {
  font-size: 1.2em;
}

.cm-header-5 {
  font-size: 1.1em;
}

.cm-header-6 {
  font-size: 1em;
}

/* END MAINCONTENTSECTION EDITOR */
/* START MAINCONTENTSECTION EDITORMENU */

.formatting-bar {
  display: none;
  position: absolute;
  background-color: var(--base-color-light);
  border: 1px solid var(--border-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 5px;
  border-radius: 4px;
}

.formatting-bar button {
  /* margin: 0 5px; */
  padding: 5px 10px;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--text-color);
}

.formatting-bar button:hover {
  background-color: var(--accent-color);
}

/* END MAINCONTENTSECTION EDITORMENU */

/* START MAINCONTENTSECTION CODES */

.mainContentSection.codes p {
  color: var(--text-color);
  padding: 12px 14px;
}

/* END MAINCONTENTSECTION CODES */
/* START FOOTER */

footer {
  -webkit-app-region: drag;
  height: 20px;
  font-size: 10px;
  font-weight: 600;
  background-color: var(--base-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--border-color);
  box-sizing: border-box;
  line-height: 19px;
}

footer #statusBarLeft span {
  padding: 0 10px;
}

footer #statusBarCenter {
  background-color: crimson;
  padding: 0 10px;
  cursor: pointer;
  font-weight: 800;
}

footer #statusBarRight span {
  padding: 0 10px;
}

/* END FOOTER */